@import 'reset.css';
@import 'https://fonts.googleapis.com/css?family=Alfa+Slab+One|Athiti|Hind:600|Muli|Poppins:500|Work+Sans:200';

/*
font-family: 'Muli', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Athiti', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Custom CSS */


.wrapper {
	display: block;
}

body {	
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	background: -moz-linear-gradient(273deg, rgba(255,225,28,1) 0%, rgba(255,166,23,1) 47%, rgba(255,50,23,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,225,28,1)), color-stop(47%, rgba(255,166,23,1)), color-stop(100%, rgba(255,50,23,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(273deg, rgba(255,225,28,1) 0%, rgba(255,166,23,1) 47%, rgba(255,50,23,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(273deg, rgba(255,225,28,1) 0%, rgba(255,166,23,1) 47%, rgba(255,50,23,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(273deg, rgba(255,225,28,1) 0%, rgba(255,166,23,1) 47%, rgba(255,50,23,1) 100%); /* ie10+ */
	background: linear-gradient(177deg, rgba(255,225,28,1) 0%, rgba(255,166,23,1) 47%, rgba(255,50,23,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE11C', endColorstr='#FF3217',GradientType=0 ); /* ie6-9 */
}

h1 {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	font-size: 2em;
	color: #000;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6em;
	line-height: 1.2;
	color: #fff;
}

#main {
	max-width: 900px;
	margin: 5% auto;
}

#currently {
	text-align: center;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: solid 1px #fff;
}

#currently .wi {
	color: #fff;
	font-size: 4em;	
}

#forecast ul li:first-child {
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: solid 1px #fff;
}

#forecast ul li:nth-child(3) {
	margin: 0 auto;
}

#forecast ul li {
	/*border: green 1px solid;*/
	text-align: center;
	display: block;
	padding: 10px;
}

 #weekly-fc ul {
	background-color: rgba(255, 255, 255, 0.68);
	border: solid #fff 1px;
	margin: 30px;
 }
 
.mintemp, .maxtemp {
	 background-color: pink;
	 display: block;
 }
 
 
#hide {
	 display: none;
 }
 
 
